In [1]:
#-- need to make sure we can find Indicators
#   - will only work on directory down
import os
import sys
nb_dir = os.path.split(os.getcwd())[0]
if nb_dir not in sys.path:
    sys.path.append(nb_dir)

In [2]:
import Indicators

import pandas as pd

engine = Indicators.connect()
configuration = Indicators.config()

prefix = configuration['mdl_prefix']

In [3]:
# get all the posts in a forum
forums = [ 321198, 32199, 32127]

forum = 321198;

query = "select id,parent,userid,created,modified from " + prefix + "forum_posts where " +\
             " discussion=" + str(forum)
df = pd.read_sql( query, engine)

df

        id   parent  userid     created    modified
0  1271444  1271133   14888  1415277238  1415277238
1  1272547  1271444   11025  1415496134  1415496134
2  1270797  1270054    9027  1415227652  1415227652
3  1269446        0    9027  1415083776  1415083776
4  1274475  1271444    3537  1415687595  1415687595
5  1271133  1270797    3537  1415247213  1415247213
6  1270054  1269446    3537  1415152970  1415152970